.teacherDetails {
  width: 70rem;
  height: 100%;
  box-shadow: var(--boxShadow);
}

.teacherDetails .teacherImg {
  width: 60%;
  height: auto;
  border: 6px solid black;
  padding: 10px;
  border-radius: var(--boxBorderRadius);
}

.raitingIcon {
  color: #ffc922;
}

.teacherCard {
  text-align: left;
  box-shadow: var(--boxShadow) !important;
}

.cardBottom {
  width: 100%;
}

.detailColumn .deatilsTable th {
  padding: 1rem 1rem 1rem 0px;
}

.deatilsTable {
  text-align: left;
}

.button {
  background-color: #228dff;
  border: none;
  border-radius: var(--boxBorderRadius);
  padding: 10px;
  color: white;
}

.button:hover {
  background-color: #1c74d2;
}
