:root {
  --backgroundColor: #4d8fc2;
  --rowbackgroundColor: white;
  --navbarTextColor: white;
  --gap: 2rem;
  --boxBorderColor: white;
  --boxBorderRadius: 5px;
  --boxBackgroundColor: white;
  --navbarButtonBG: #53a054;
  --navbarButtonBGHover: #317232;
  --inputBorderRadius: 10px;
}
